@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "AddPortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("AddPortfolio", "Portfolio", FormMethod.Post))
{

    @Html.Label("Proje Adı")
    @Html.TextBoxFor(x=>x.Name, new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Name)
    <br />
    @Html.Label("Görsel 1")
    @Html.TextBoxFor(x=>x.ImageURL, new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.ImageURL)
    <br />
    @Html.Label("Görsel 2")
    @Html.TextBoxFor(x=>x.ImageURL2, new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.ImageURL2)
    <br />
    @Html.Label("Proje Url")
    @Html.TextBoxFor(x=>x.ProjectURL, new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.ProjectURL)
    <br />
    @Html.Label("Fiyat")
    @Html.TextBoxFor(x=>x.Price, new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Price)
    <br />
    @Html.Label("Tamamlanma Oranı")
    @Html.TextBoxFor(x=>x.Value, new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Value)
    <br />
    @Html.Label("Proje Url")
    @Html.TextBoxFor(x=>x.ProjectURL, new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.ProjectURL)
    <br />
    @Html.Label("Proje Url")
    @Html.TextBoxFor(x=>x.ProjectURL, new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.ProjectURL)
    <br />
    <button class="btn btn-primary">Ekle</button>
}


